{% load static %}
<section class="footer-container">

    <div class="img-container">
        <div class="container">
            <img src="{% static "images/svg/irani-logo.svg" %}" alt="">
        </div>
    </div>

    <section class="infos">
        <div class="info-container">
            <div class="img-info">
                <img src="{% static "images/svg/endereco.svg" %}" alt="">
            </div>
            <p>
                Rua João da Cruz Kreilling, 178 <br>
                CEP 89460-154 Canoinhas/SC
            </p>
        </div>
        <div class="info-container">
            <div class="img-info">
                <img src="{% static "images/svg/phone.svg" %}" alt="">
            </div>
            <p>
                (47)3622-3462 | (47)3622-5357
            </p>
        </div>
        <div class="info-container">
            <div class="img-info">
                <img src="{% static "images/svg/email.svg" %}" alt="">
            </div>
            <p>eletricairani@eletricairani.com.br</p>
        </div>
        <div class="info-container">
            <div class="img-info">
                <img src="{% static "images/svg/site.svg" %}" alt="">
            </div>
            <p>www.eletricairani.com.br</p>
        </div>
    </section>
</section>