/* VARS */
:root {
    --bg-mobile: url(https://i.ibb.co/LgR8cFz/bg-mobile-black-marble.jpg);
    --bg: url(https://i.ibb.co/dMNrrpK/bg-irani.png);
    --yellow: #FFBD59;
    --white-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove decorações de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove o estilo de listas */
ul, ol {
    list-style: none;
}

/* Zera bordas e preenchimento de elementos */
img, iframe {
    border: 0;
}

/* Força o uso da fonte padrão */
body {
    line-height: 1;
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 62.5%;
    transition: all 500ms ease-in-out;
}

/* Remove bordas padrões de elementos de formulário */
input, button, textarea, select {
    border: none;
    outline: none;
    background: none;
}

/* Estilos de botão resetados */
button {
    background-color: transparent;
    cursor: pointer;
}

/* Suporte para elementos HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

/* PAGINA INTEIRA */
.fullpage {
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
}

/* NAVBAR */
.navbar-container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
}

.navbar-container .homepage {
    margin-left: 5%;
    align-self: center;
    height: 70%;
    width: auto;
}

.homepage img {
    height: 100%;
    width: auto;
    transition: all 300ms ease-in-out;
}
.homepage img:hover {
    border-radius: 10%;
    box-shadow: var(--white-shadow);
}

.navbar-container .img-container {
    display: flex;
    height: 100%;
    width: auto;
}

.img-container img {
    align-self: center;
    height: 100%;
    width: auto;
}

.navbar-container .wpp {
    align-self: center;
    height: 75%;
    width: auto;
    margin-right: 5%;
}
.wpp img {
    height: 100%;
    width: auto;
    transition: all 300ms ease-in-out;
}
.wpp img:hover {
    border-radius: 10%;
    box-shadow: var(--white-shadow);
}

.navbar-container .container {
    height: 100%;
    width: auto;
}

/* Logo imagem e logo texto na página inicial: */
.full-logo {
    position: absolute;
    left: 20%;
    top: 10%;
    display: flex;
    height: 40%;
    width: 40%;
}
.full-logo .img-container {
    width: 100%;
    height: auto;
}
.full-logo .img-logo {
    width: 100%;
    height: auto;
}
.orcamento {
    display: flex;
    bottom: 5%;
    left: 5%;
    position: absolute;
    width: 30%;
    height: auto;
}
.orcamento .button-orcamento {
    transition: all 200ms ease-in-out;
    width: 100%;
    height: auto;
}
.orcamento .button-orcamento:hover {
    border-radius: 10%;
    box-shadow: var(--white-shadow);
}

/* Menu da página inicial: */
.full-menu {
    align-self: flex-start;
    padding-top: 50px;
    flex-wrap: wrap;
    height: auto;
    width: 300px;
}
.aba-container {
    display: flex;
    flex-direction: row;
}
.aba-container img {
    width: 20px;
    height: auto;
}
.aba {
    position: relative; /* Para que o conteúdo absoluto seja posicionado relativo a esta div */
    margin: 10px;
}
/* Estilo do botão clicável */
.toggle-button {
    cursor: pointer;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 1rem;
    transition: all 300ms ease-in-out;
}
.toggle-button:hover {
    border-radius: 10%;
    box-shadow: var(--white-shadow);
}


/* Estilo para a aba expansível (oculta por padrão) */
.content {
    position: absolute; /* Retira o conteúdo do fluxo normal */
    top: 100%; /* Define a distância do topo do botão */
    left: 0;
    width: 400px;
    height: auto;
    max-height: 300px;
    display: none; /* Inicialmente oculto */
    overflow-y: auto;
    padding: 10px;
    display: none;
    background-color: #f1f1f1;
    z-index: 1; /* Define a prioridade da sobreposição */
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1 1 1;
}

/* Links dentro da aba expansível */
.content a {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    flex: 1;
    padding: 5px;
    margin: 5px 0;
    background-color: #ddd;
    color: #000;
}

.content a:hover {
    background-color: #ccc;
}

/* Imagem lateral da página inicial: */
.lateral-img {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    width: 60%;
    height: 94.6%;
    overflow: hidden;
}

.lateral-img .full-img {
    width: 100%;
    height: auto;
}

/* Estilos Páginas */
.bloco-artigo {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, sans-serif;
    margin: 0 0 10rem 0;
    font-size: 1rem;
    text-align: left;
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    overflow: scroll;
}
.bloco-artigo h1 {
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 4rem;
    color: #62a3ec;
}
.bloco-artigo h1 + p {
    font-size: 1.5rem;
}
.bloco-artigo h2 {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    color: #62a3ec;
}
.bloco-artigo h3 {
    font-size: 1.5rem;
    color: #62a3ec;
    margin: 1.5rem 0 0.5rem 1rem;
}
.bloco-artigo h1, h2, h3 {
    color: var(--yellow);
}
.bloco-artigo ul {
    margin-left: 4rem;
    color: floralwhite;
    font-size: 1rem;
    list-style: lower-roman;
}
.bloco-artigo ul li {
    margin: 0.5rem;
}
.bloco-artigo p {
    margin: 1rem;
    color: floralwhite;
}
.bloco-artigo h3 + p {
    margin-left: 4rem;
}
.bloco-artigo h2 + p {
    margin-left: 2rem;
}
.bloco-artigo strong {
    color: #5e84ec;
    font-style: italic;
}

.fullpages {
    background-image: var(--bg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: auto;
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
}
.fullpages .bar {
    padding-top: 50px;
}

/* Formulários */
.form-container {

}

.formulario {
    display: flex;
    position: absolute;
    top: 10%;
    left: 25%;
    flex-direction: column;
    color: aliceblue;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    height: 50%;
    align-items: center;
}

.formulario input {
    background-color: #fff;
    width: 50%;
    height: 2rem;
    margin: 10px;
}
.formulario #id_arquivo {
    background-color: rgba(0, 0, 0, 0);
}

.formulario p input #id_email {
    margin-left: 10%;
}

.formulario h2 {
    color: #FFBD59;
}

.formulario textarea {
    background-color: #fff;
}

.formulario button {
    height: auto;
    width: 30%;
    background-color: #fff;
}

.orcamento-sucesso {
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    text-align: center;
    width: 80%;
    height: 50%;
    color: #FFBD59;
    font-size: 50px;
}
.orcamento-sucesso h1 {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
.footer-container {
    font-family: "Barlow Condensed", sans-serif;
    color: aliceblue;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 200px;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.footer-container .img-container {
    height: 100%;
    width: auto;
}

.footer-container .img-container img {
    align-self: center;
    height: 100%;
    width: auto;
    right: 0;
}

.footer-container .container {
    height: 100%;
    width: auto;
}

.footer-container .infos {
    position: absolute;
    right: 43%;
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: right;
    flex-direction: column;
}
.footer-container .infos img {
    height: 100%;
    width: auto;
}

.img-info {
    margin-right: 5px;
    width: auto;
    height: 20px;
    margin-top: 3px;
}

.info-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

/* Estilo Telas menores */
@media (max-width: 800px) {
    .fullpage {
        background-image: var(--bg-mobile);
    }
    .bloco-artigo {
        background-image: var(--bg-mobile);
    }
    .navbar-container .wpp {
        align-self: center;
        height: 75%;
        width: auto;
        margin-right: 15%;
    }

    .full-logo {
        position: absolute;
        left: auto;
        right: auto;
        bottom: 10%;
        height: auto;
        width: 100%;
    }
    .full-logo .img-container {
        position: absolute;
        bottom: 10%;
        left: auto;
        right: auto;
        width: 100%;
        height: auto;
    }
    .orcamento {
        position: absolute;
        right: auto;
        left: auto;
        width: 100%;
        height: auto;
    }
    .lateral-img {
        display: none;
    }
    .lateral-img .full-img {
        display: none;
    }
    .footer-container {
        font-family: "Barlow Condensed", sans-serif;
        color: aliceblue;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 200px;
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
    }
    .footer-container .infos {
        position: absolute;
        right: 25%;
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: center;
        align-items: right;
        flex-direction: column;
    }
    .footer-container .img-container img {
        display: none;
        align-self: center;
        height: 100%;
        width: auto;
        right: 0;
    }
    .bloco-artigo {
        width: 100dvw;
        height: 100dvh;
    }
    .bloco-artigo h1 {
        font-size: 3.0rem;
    }
}
@media (max-height: 830px) {
    .full-logo {
        width: 70%;
    }
    .footer-container {
        display: none;
    }
}
@media (max-height: 760px) {
    .full-logo {
        display: none;
    }
}